:root {
  --primary: rgb(232, 195, 158);
  --secondary: rgb(183, 151, 119);
  --white: #fff;
  --shadow: 0px 0px 25px 0px rgba(66, 66, 66, 0.4);
  --shadow-light: 0px 0px 25px 0px rgba(66, 66, 66, 0.22);
  --black: rgb(59, 59, 59);
  --grey: rgb(247, 247, 247);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.banner {
  background-image: url("/img/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
}

.banner-background-color {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  width: 100%;
  height: 100%;
  background-color: rgb(232, 195, 158, 0.7);
}

.banner__image {
  margin-bottom: 4rem;
  max-width: 12rem;
}

.banner__title {
  text-align: center;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
  font-weight: 500;
  color: var(--white);
  max-width: 40rem;
  margin: 0 1rem;
  line-height: 1.7;
}

.banner__call-to-action {
  margin-top: 2rem;
  padding: 1.5rem 3rem;
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  border: none;
  box-shadow: var(--shadow);
  text-decoration: none;
}

.banner__call-to-action:hover {
  background-color: var(--white);
  color: var(--secondary);
  cursor: pointer;
}

/* DESCRIPTION */

.description {
  max-width: 100%;
  padding: 1.5rem 10px;
  background-color: var(--grey);
  margin-bottom: 4rem;
}

.description-text {
  text-align: center;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
  font-weight: 500;
  color: var(--black);
  margin: 0;
  line-height: 1.7;
}

/* TEAM */

.team-title {
  text-align: center;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
  font-weight: 400;
  color: var(--secondary);
  line-height: 1.7;
}

.team-members-container {
  max-width: 60rem;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.team-member {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member__image {
  width: 275px;
}

.team-member__card {
  padding: 1rem;
  width: 350px;
  background-color: var(--grey);
  border-radius: 0.5rem;
  height: 180px;
  /* box-shadow: var(--shadow-light); */
}

.team-member__name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary);
  margin: 0.5rem 0;
  font-weight: 500;
}

.team-member-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member__role {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--secondary);
  margin: 0.5rem 0;
}

.team-member__cv {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--black);
  margin: 0.5rem 0;
}

/* OPINIONS */

.opinions {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 2rem;
}

.opinion {
  min-width: 100%;
  padding: 4rem 0;
  transition: transform 2s ease;
}

.opinion-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opinion-header__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.7;
  color: var(--black);
}

.opinion-header__date {
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.7;
  font-style: italic;
}

.opinion-body-container {
  margin-top: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  color: var(--black);
}

.opinion-body-text {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;
  margin: auto;
  max-width: 70rem;
  text-align: center;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--secondary);
  margin: 0 0.5rem;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.dot--active {
  background-color: var(--white);
  width: 0.75rem;
  height: 0.75rem;
  box-shadow: var(--shadow);
}

.arrow {
  position: absolute;
  /* background-color: red; */
  width: 10%;
  bottom: 0;
  top: 0;
}

.arrow--left,
.arrow--right {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow--left::after,
.arrow--right::after {
  display: block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  box-shadow: var(--shadow-light);
  backdrop-filter: blur(5px);
  width: 2.6rem;
  height: 2.6rem;
  margin: 0.2rem;
  border: 1px solid transparent;
  transition: 1s;
  color: var(--secondary);
}

.arrow--left:hover::after {
  border-color: var(--white);
  background: rgba(255, 255, 255, 0.5);
  transition: 0.25s;
  color: var(--black);
}
.arrow--right:hover::after {
  border-color: var(--white);
  background: rgba(255, 255, 255, 0.5);
  transition: 0.25s;
  color: var(--black);
}

.arrow--left {
  left: 0;
}
.arrow--right {
  right: 0;
}

.arrow--left::after {
  content: "\2190";
}

.arrow--right::after {
  content: "\2192";
}

/* CONTACT */

.contact {
  max-width: 60rem;
  margin: auto;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-text,
.contact-form {
  flex: 1;
  padding: 0 1rem;
  min-width: 350px;
}

.contact-text-title {
  text-align: right;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
  font-weight: 400;
  color: var(--black);
  line-height: 1.7;
  margin-bottom: 1.7rem;
}

.contact-text-text {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--black);
  line-height: 1.7;
}

.contact-form__input {
  width: 100%;
  padding: 1rem 0;
  font-weight: 300;

  color: var(--black);
}

.contact-form__input > input {
  width: 100%;
  padding: 0.6rem;
  font-weight: 300;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid var(--black);
  color: var(--black);
}

.contact-form__input > textarea {
  width: 100%;
  padding: 0.6rem;
  height: 100px;
  font-weight: 300;
  border-radius: 0.5rem;
  border: 1px solid var(--black);
  color: var(--black);
}

.contact-form__submit-container {
  display: flex;
  flex: 1;
  justify-content: center;

  padding-bottom: 6rem;
}

.contact-form__submit {
  padding: 1rem 3rem;
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  border: none;
  border: 1px solid var(--secondary);
}

.contact-form__submit:hover {
  background-color: var(--white);
  color: var(--secondary);
  cursor: pointer;
}

/* FOOTER */
.footer {
  background-color: var(--secondary);
}

.footer-container {
  max-width: 60rem;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.footer-instagram,
.footer-email {
  padding: 10px;
  text-decoration: none;
  color: var(--white);
}

.footer-instagram {
  display: inline-block;
  border-right: 1px solid var(--primary);
}
